*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    min-width: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
#lien {
    background: linear-gradient(#2b1055,#7597de);
    opacity: 0.5;
    font-color: black;
}
a{
    color: black;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000000;
}

header .logo{

    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;

}

header ul li a{
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background-color: #fff;
    color:#2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 10000;
}

section::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 10000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
    pointer-events: none;

}

section img#moon
{
    opacity: 50%;
    mix-blend-mode: screen;
}

section img#montagne_front{
    z-index: 10;
}


#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    right: -900px;
    z-index: 9;

}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
    z-index: 9;
}

.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');



.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c0522;

}

.menuToggle{
    position: relative;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center ;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.menuToggle::before{
    content: '+';
    position: absolute;
    font-size: 3em;
    font-weight: 200;
    color: #ff216d;
    transition: 1.5s;
}

.menuToggle.active::before{
    transform: rotate(225deg);
}


.menu{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px ;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active ~ .menu{
    width: 240px;
    height: 70px;
    z-index: 1;
    transform: translateY(-100px);
    transition-delay: 0.5s, 0.5s ,0.5s;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.menu::before
{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: 0.5s;

}

.menuToggle.active ~ .menu::before{

    transition-delay: 0.5s;
    bottom: -6px;
}

.menu ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    gap: 40px;
}

.menu ul li{
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);


}

.menuToggle.active ~ .menu ul li{

    opacity: 1;
    visibility: visible;
    transition: 0.25s;
    transition-delay: calc(0.75s + var(--i));


}

.menu ul li a{
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: #555;
}

.menu ul li:hover a{
    color: #ff216d;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}